/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		 url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/montserrat-v25-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
	box-sizing: border-box;
	height: 100%;
}

*,*::before,*::after{
	box-sizing: inherit;
}

img{
	max-width: 100%;
	height: auto;
}

.main-wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main{
	flex: 1 1 auto;
}

.wrapper{
	max-width: 1244px;
	margin: 0 auto;
	padding: 0 15px;
}

.button{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.title{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 59px;
	color: #000000;
}

.text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
}


/* header style start */

.header{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}


.header__content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 100%;
	padding-top: 36px;
	align-items: center;
}

.header__logo img{
	max-width: 100%;
	margin-right: 50px;
}

.burger{
	width: 30px;
	height: 27px;
	background-color: black;
}

/* header style end */



/* intro  style start */

.intro{
	background-image: url(/img/intro-section-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 250px;
}

.intro__title{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	max-width: 100%;
	margin-bottom: 20px;
	font-size: 74px;
}


.intro__title-style{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 74px;
	line-height:90px;
	text-transform: uppercase;
	color: #212733;
	max-height: 90px;
}



@media (max-width:730px){

	.intro__title-style{
		font-size: 54px;
	}
	
}

@media (max-width:540px){

	.intro__title-style{
	font-size: 50px;
	}
}

@media (max-width:500px){
	.intro__title-style{
		font-size: 40px;
	}
}

@media (max-width:420px) and (min-width:375px){
	.intro__title-style{
		font-size: 35px;
	}
}

@media (min-width:320px) and (max-width:375px){
	.intro__title-style{
		font-size: 28px;
		font-weight:800;
	}
}

.intro__sub-title{
	margin-bottom: 60px;
}

.intro__sub-title{
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro__sub-title-style{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.button__intro{
	margin-bottom: 528px;
}

.intro__button-box{
	text-align: center;
}

.button__intro{
	background-color: transparent;
	padding: 20px 32px 20px 30px;
	border: 1px solid #000000;
}

.button__intro::after{
	content: url(/img/button-arrow.svg);
	display: inline-block;
	width: 8px;
	height: 12px;
	margin-left: 44px;
}

/* intro style end */



/* about company style start */

.about-company__content{
	display: flex;
	flex-direction: row;
}

.left-pic{
	flex: 0 1 50%;
}


.about-text{
	flex: 0 1 50%;
	background-color: #F1F1F1;
	height: 950px;
	padding-top: 275px;
	padding-left: 107px;
	height: auto;
}

.about-text__container{
	max-width: 500px;
	max-height: 391px;
	text-align: right;
}

.about-company__title:not(:last-child){
	margin: 0 0 60px 0;
}

.about-company__text{
	color: #606060;
}

.about-company__text:not(:last-child){
	margin: 0 0 40px 0;
}

@media (max-width:1600px){

	.about-text{
		padding-left: 85px;
		padding-top: 200px;
	}
}

@media (max-width:1275px){

	.about-text{
		padding-left: 35px;
		padding-top: 150px;
	}
}

@media (max-width:1275px) and (min-width:1050px){
	.about-text{
		padding-left: 35px;
		padding-top: 76px;
		padding-right: 15px;
	}
}

@media (max-width:1050px){

	.about-company__content{
		flex-direction: column-reverse;
	}

	.left-pic{
		flex: 0 0 100%;
		text-align: center;
	}

	.about-text{
		flex: 0 1 100%;
		display: flex;
		justify-content: center;
		padding: 0;
	}

	.about-text__container{
		text-align:center;
		margin-bottom: 15px;
	}

	.about-company__text{
		font-size: 20px;
		text-align: left;
		text-indent:10px;
	}
	
	.about-company__text:not(:last-child){
		margin: 0 0 30px 0;
	}

	.about-company__title:not(:last-child){
		margin: 0 0 40px 0;
	}
}

@media(max-width:500px){

	.about-text__container{
		padding:0 10px 0;
		margin-bottom: 15px;
	}

	.about-company__text{
		font-size: 17px;
		font-weight:500;
	}

	.about-company__title:not(:last-child){
		margin: 0 0 30px 0;
	}


}

@media (max-width:356px){
	.about-company__text{
		font-size: 16px;
		font-weight:500;
		text-indent: 15px;
	}
	.about-text__container{
		padding: 0px 5px 0px;
		margin-bottom: 15px;
	}
}

/* about company style end */



/* portfolio style start */

.portfolio{
	padding-top: 90px;
}

.portfolio-h3{
	margin-bottom: 70px;
	text-align: center;
}

.portfolio-box{
	background-image: url(/img/portfolio-img.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	max-width: 100%;
	height: 764px;
	padding-top: 209px;
	padding-right: 69px;
	padding-left: 918px;
}

.portfolio-button{
	background-color: transparent;
	border: 1px solid #000000;
}

.portfolio-button::after{
	content: url(/img/button-arrow.svg);
	display: inline-block;
	width: 8px;
	height: 12px;
	margin-left: 44px;
}

/* portfolio style end */



/* what we offer style start */

.what-we-offer{
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #1A1F25;
}

.what-we-offer__title{
	color:  #FFFFFF;
	text-align: center;
	margin-bottom: 80px;
}

.offer-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 630px;
}

.offer-item{
	display: flex;
	flex-direction: column;
	width: 20%;
	height: auto;
	padding: 46px 19px 46px 21px;
}

.offer-img-box{
	margin-bottom: 20px;
	text-align: center;
}

.offer-item11{
	width: 100%;
	height: calc(100% / 3);
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
}

.offer-text{
	color: #FFFFFF;
	text-align: center;
}

.offer-item1, .offer-item2, .offer-item3, .offer-item4{
	border-right: 1px solid #595959;
	border-bottom: 1px solid #595959;
}

.offer-item5{
	border-bottom: 1px solid #595959;
}

.offer-item6, .offer-item7, .offer-item8, .offer-item9{
	border-right: 1px solid #595959;
	border-bottom: 1px solid #595959;
}

.offer-item10{
	border-bottom: 1px solid #595959;
}

.offer-item11-1, .offer-item11-2, .offer-item11-3{
	width: calc(100% / 5);
	padding: 46px 19px 46px 21px;
}

.offer-item11-2{
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #595959;
	border-left:1px solid #595959;
}

.offer-item11-1{
	border-left:1px solid #595959;
}
.offer-item11-3{
	border-right:1px solid #595959;
}


.offer-button{
	width: 185px;
	height: 55px;
	background-color: transparent;
	border: 1px solid #FFFFFF;
	color: white;
}

.offer-button::after{
	content: url(/img/button-white-arrow.svg);
	display: inline-block;
	width: 8px;
	height: 12px;
	margin-left: 18px;
}

@media(max-width:700px){
	.offer-text{
		font-size: 14px;
	}

	.what-we-offer__title{
		font-size: 38px;
	}


}

@media(max-width:600px){
	.offer-text{
		font-size: 11px;
	}

	.what-we-offer__title{
		font-size: 38px;
	}

	.offer-item11{
		justify-content: space-between;
	}
	
	.offer-item11-1, .offer-item11-2, .offer-item11-3{
		border: none;
	}
	.offer-item11-1, .offer-item11-3{
		flex-grow:2;
	}
}



/* what we offer style end */